<header id="header" class="default">
    <button class="toggle-menu menu-left push-body">
        <i class="fa fa-bars"></i>
        {{#if @blog.logo}}
            <a class="logo_purus" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{/if}}
    </button> 
</header>