<!--
<a href="#"><i class="fa fa-twitter"></i><span class="hidden_purus">Twitter</span></a>
<a href="#"><i class="fa fa-facebook"></i><span class="hidden_purus">Facebook</span></a>
<a href="#"><i class="fa fa-google-plus"></i><span class="hidden_purus">Google</span></a>
-->
<a href="https://www.linkedin.com/company/appstrax-technology"><i class="fa fa fa-linkedin"></i><span class="hidden_purus">Linked In</span></a>
<a href="{{@site.url}}/rss/"><i class="fa fa-rss"></i><span class="hidden_purus">Subscribe</span></a>